#page-background {
  background-color:#000000;
  background-image:url("https://images.unsplash.com/photo-1567095761054-7a02e69e5c43?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-size:cover;
  font-family:'Times New Roman', Times, serif;
}

body {
  color:rgb(126, 211, 244);
}

h1, h2, h3, p, ul, ol {
  box-sizing:border-box;
  width:fit-content;
  background-color:#000000;
  padding:2px;
  border:ridge silver 4px;

}

ol {
  list-style-type:upper-roman;
  margin-left: 2%;
}

ul{
  list-style-type: disc;
  margin-left: 2%;
}

p {
  margin-left: 1%;
}

span {
  background-color:rgb(142, 66, 66);;
}

div a {
  color:indianred;
}

.photo {
  box-sizing: border-box;
  max-width: 10%;
  height: auto;
}

.photo img {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  border:ridge silver 4px;
}